<<BEGIN>> <<CONFIG>>
    <<SIZE>> 1024 768
    <<NRND>> 4000
    <<SAMP>> 1000
    <<NAME>> cornell.ppm
<<END>>

<<BEGIN>> <<MATERIAL>> 10
    left DIFFUSE <<CONST>> 0.75 0.25 0.25
    right DIFFUSE <<CONST>> 0.25 0.25 0.75
    back METAL <<CONST>> 0.75 0.75 0.75
    front DIFFUSE <<CONST>> 0 0 0
    bottom DIFFUSE <<MAP>> tex/stone.ppm
    top DIFFUSE <<CONST>> 0.75 0.75 0.75
    bunny WATER <<CONST>> 0.9 0.9 0.9
    mirror MIRROR <<CONST>> 0.999 0.999 0.999
    middle DESK <<MAP>> tex/earth.ppm
    light LIGHT <<CONST>> 7000 6900 5630
<<END>>

<<BEGIN>> <<SCENE>> 10
    <<SPHERE>> 100000 99980 40.8     81.6   left
    <<SPHERE>> 100000 -99891 40.8     81.6   right
    <<SPHERE>> 100000 50     40.8     100000 back
    <<SPHERE>> 100000 50     40.8     -99000 front
    <<SPHERE>> 100000 50     100000   81.6   bottom
    <<SPHERE>> 100000 50     -99908.4 81.6   top
    <<POLY>>   poly/bunny_200.obj 30 0 100 100 100 100 0 0 0 bunny
    <<SPHERE>> 12 73 12 40 mirror
    <<SPHERE>> 8.5 50 8.5 60 middle
    <<SPHERE>> 5 50 92 85 light
<<END>>

<<BEGIN>> <<CAMERA>>
    <<POSI>> 50 48 190
    <<LOOK>> 50 48 41
    <<LKUP>> 0 1 0
    <<CONF>> 60 5 135
<<END>>

<<ENDCONFIG>>
